﻿@model Blog5.Models.Comment
<h2>Create</h2>

@using (Html.BeginForm("Create", "Comment", new { post = ViewData["Post"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AddComment</legend>

        
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        

        <

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
