﻿@model blog3.Models.Tag
@using (Html.BeginForm("Create", "Tag", new { idpost = ViewData["idpost"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Tag</legend>


        <div class="editor-field">
            @Html.EditorFor(model => model.TagID)
            @Html.ValidationMessageFor(model => model.TagID)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>



        
    </fieldset>
}


