﻿@model blog9.Models.Comment

<div class="display-field">
    Cach day:@Html.DisplayFor(model => model.LastTime)
</div>

<div class="display-field">
    <h2>@Html.DisplayFor(model => model.Body)</h2>
</div>

