﻿@model blog9.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>
</fieldset>

@Html.Partial("_addComment",new blog9.Models.Comment() , ViewData);

<fieldset>
    <legend>Comment</legend>
    <div id="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreate).Take(5))
    {
    <div class="display-field">
        Cach day:@Html.DisplayFor(x => comment.LastTime)
    </div>
        
    <div class="display-field">
        <h2>@Html.DisplayFor(x => comment.Body)</h2>
    </div>
    }
        </div>
</fieldset>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
